@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
}

.nav-container {
    position: fixed;
    float: left;
    width: 23%;
    height: 100vh;
    border: 1px solid;
    border-color: rgb(239,243,244);
}

.brand-logo {
    margin: 15px 0 0 20%;
}

.navbar-list {
    margin: 0px 0px 0px 17%;
}

.twitter-logo, .nav-icons {
    width: 30px;
    height: 30px;
}


.home-div {
    width: 100%;
    float: left;
}

.navbar-items {
    list-style-type: none;
    list-style: none;
}

.navbar-items li {
    display: flex;
    width: 65%;
    border-radius: 25px;
    padding: 10px
}

.navbar-items li:hover {
    background-color: #dad8db;
    transition: all 500ms ease;
}

li h3 {
    padding-left: 10px;
}

.tweet-btn-container {
    width: 60%;
    margin: 20px 0 0 18%;
}

.tweet-btn {
    background-color: #1DA1F2;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
}

.tweet-btn:hover {
    background-color: #1d8fd6;
}

.user-id-container {
    margin: 10% 0 0 16%;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}

.user-id-container:hover {
    background-color: #dad8db;
    transition: all 500ms ease;
}

.user {
    display: flex;
}
.user-image-container {
    margin-top: 2.5px;
}

.user-image {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: black;
}

.user-text-container {
    margin-left: 10px;
}

.user-name {
    font-size: .8rem;
    font-weight: bold;
    display: inline;
}

.user-id {
    font-size: .9rem;
    font-weight: 300;
    display: inline;
    color: rgba(0, 0, 0, 0.897);
}

/* Feeds-container */

.hero-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 23.1%;
}

.feed-container {
    flex: 1.5;
    height: 100vh;
    border: 1 solid white;
}

.home-title-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    border-bottom: 1px solid ;
    border-bottom-color:rgb(239,243,244); ;
}

.title {
    margin-left: 20px;
}

.star-container {
    margin-right: 20px;
}

.new-tweet-container {
    height: 20%;
    width: 100%;
    border-bottom:1px solid rgb(239,243,244);
    display: flex;
}

.user-profile-container {
    padding: 10px;
}

.tweet-box {
    width: 100%;
    height: 100%;
}

.tweet-input {
    width: 80%;
    height: 20%;
}

/* Treding-container */

.trending-container {
    flex: 1;
    height: 100vh;
    background-color: black;
}